:host {
  display: block;
  border-color: #ccc;
}

.drafts-container {
  padding: .5em;
}

.draft-container {
  width: 33.333%;
}

.no-drafts {
  margin: 3rem auto;
  width: 70%;
  text-align: center;
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
}
