:host {
  height: 3em;
  position: absolute;
  bottom: .3em;
  right: 1em;
  font-size: .8rem;
}

a {
  text-decoration: none;
  color: #868686;
  cursor: pointer;
}

a:hover {
  border-bottom: 1px solid #868686
}

ul {
  margin-bottom: 0;
  padding-bottom: 1em;
}

.fav {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.faved {
  color: hotpink;
}
