.editor {
  position: relative;
}

.close-draft {
  position: absolute;
  font-size: 2rem;
  color: #07b6ff;
  padding: .3rem 0 0 .5rem;
  cursor: pointer;
}

.save-draft {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  background-color: #07b6ff;
  border: none;
  font-size: .8rem;
  line-height: 1.2rem;
  position: absolute;
  top: .8rem;
  right: .8rem;
}

textarea {
  padding-top: 3rem;
  border: 1px solid #07b6ff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #383838;
  color: #ccc;
  width: 100%;
}

textarea:focus {
  outline: none;
}


