* { box-sizing: border-box; }

html {
  font-family: "Source Code Pro", "Consolas", "Fira Code", monospace;
  font-weight: 400;
  min-height: 100vh;
  color: #ddd;
  background: #222; /* fallback for old browsers */
  padding-top: 3px;
}

a {
  text-decoration: none;
  color: #ccc;
}

strong, b, .bold,
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.ribbon {
  position: fixed;
  top: 0;
  height: 3px;
  width: 100%;
  background: #07b6ff;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
