* { box-sizing: border-box; }

html {
  font-family: "Source Code Pro", "Consolas", "Fira Code", monospace;
  /*font-size: 0.9rem;*/
  /*line-height: 1.3rem;*/
  min-height: 100vh;
  color: #ddd;
  background: #222; /* fallback for old browsers */
  padding-top: 3px;
}

a {
  text-decoration: none;
  color: #ccc;
}

.ribbon {
  position: fixed;
  top: 0;
  height: 3px;
  width: 100%;
  background: #07b6ff;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
