:host {
  display: block;
  background-color: #383838;
  position: relative;
  min-width: 25%;
  border: .5em solid #222;
  margin: 0 auto;
  word-wrap: break-word;
}

h1:first-child {
  text-transform: uppercase;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.draft-text {
  margin-bottom: .5rem;
  cursor: pointer;
}

.inner-container {
  box-sizing: border-box;
  padding: 1em 1em 2em 1em;
  height: 100%;
  width: 100%;
  border: 1px solid #383838;
}

.inner-container:hover {
  border: 1px solid #07b6ff;
}

:host >>> h1,
:host >>> h2,
:host >>> h3,
:host >>> h4,
:host >>> h5,
:host >>> h6 {
  font-size: 1rem;
  font-weight: 700;
}

:host >>> h1:first-child,
:host >>> h2:first-child,
:host >>> h3:first-child,
:host >>> h4:first-child,
:host >>> h5:first-child,
:host >>> h6:first-child {
  margin-top: 0;
  text-transform: uppercase;
}

:host >>> br {
  content: 'A';
  display: block;
  margin-bottom: 0.5em;
}
