@import '../node_modules/normalize-css/normalize.css';
@import '../node_modules/basscss/css/basscss.min.css';

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(/assets/mrl8jkM18OlOQN8JLgasD9Hq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'), url(/assets/leqv3v-yTsJNC7nFznSMqYqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}

* { box-sizing: border-box; }

html {
  font-family: "Source Code Pro", "Consolas", "Fira Code", monospace;
  font-weight: 400;
  min-height: 100vh;
  color: #ddd;
  background: #222; /* fallback for old browsers */
  padding-top: 3px;
}

a {
  text-decoration: none;
  color: #ccc;
}

strong, b, .bold,
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.ribbon {
  position: fixed;
  top: 0;
  height: 3px;
  width: 100%;
  background: #07b6ff;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
